aclocal.m4
*.o
*.po
*.so.*
*.so
*~
configure
Doxyfile
bin/
config.h
config.h.in
config.log
config.mk
config.status
apidocs/
gen_ndr/
libmapi++.pc
libmapi++/Doxyfile
libmapi++/examples/foldertree
libmapi++/examples/messages
libmapi.pc
libmapi/Doxyfile
libmapi/codepage_lcid.c
libmapi/mapicode.c
libmapi/version.h
libmapiadmin.pc
libmapiadmin/Doxyfile
libocpf.pc
libocpf/Doxyfile
libocpf/lex.yy.c
libocpf/ocpf.tab.c
libocpf/ocpf.tab.h
mapicodes_enum.h
mapiproxy/Doxyfile
mapiproxy/libmapiproxy.pc
mapiproxy/libmapiserver.pc
mapiproxy/libmapistore.pc
mapiproxy/libmapistore/Doxyfile
mapiproxy/libmapistore/mapistore_nameid.h
mapiproxy/libmapistore/mgmt/gen_ndr/
mapiproxy/services/ocsmanager/build/
mapiproxy/services/ocsmanager/ocsmanager.egg-info/
mapiproxy/services/web/rpcproxy/build/
pyopenchange/mapistore/errors.c
setup/mapistore/mapistore_namedprops.ldif
stamp-h1
utils/mapitest/Doxyfile
utils/mapitest/mapitest_proto.h
utils/mapitest/proto.h
_trial_temp
*.orig
*.rej
*.pyc
samba4
samba-*.tar.gz
test_results.xml
*.gcda
*.gcno
