[globals]
	netbios name		= zion
	workgroup		= OPENCHANGE
	realm			= openchange.local

dcerpc endpoint servers		= exchange_nsp exchange_emsmdb epmapper srvsvc wkssvc rpcecho samr netlogon lsarpc spoolss drsuapi winreg dssetup

	exchange:GUID           = 1b940e13-14d3-4e2a-9711-e06a2def5dfd
	exchange:nspi_binding	= ncacn_np:127.0.0.1[]

        mapi:profile_store      = /path/to/profiles.ldb
	mapi:codepage		= 0x4e4
	mapi:language		= 0x40c
	mapi:method		= 0x409
