#!/usr/bin/make -f

BUILD=$(CURDIR)/debian/php5-openchange
PHP_EX=$(shell /usr/bin/php-config5 --extension-dir)
PHP_APIVER=$(shell /usr/bin/php-config5 --phpapi)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

CFLAGS := -I /opt/samba4/include

DEB_CONFIGURE_EXTRA_FLAGS = --with-pkgconfig-path=/opt/samba4/lib/pkgconfig
DEB_MAKE_INSTALL_TARGET =

makebuilddir/php5-openchange::
	[ -f configure ] || phpize5

cleanbuilddir::
	phpize5 --clean

install/php5-openchange::
	install -D -m 644 modules/mapi.so $(BUILD)$(PHP_EX)/openchange.so
	echo "php:Depends=phpapi-$(PHP_APIVER)" >> $(BUILD).substvars
