Source: php5-openchange
Section: php
Priority: optional
Maintainer: Zentyal Packaging Maintainers <pkg-team@zentyal.com>
Build-Depends: cdbs, debhelper (>= 5.0.0), build-essential, php5-dev, libtalloc-dev, libtevent-dev, libldb-dev, libmapi-dev, libpopt-dev, flex, bison, samba4 (>= 4.1.0rc3-zentyal4)
Standards-Version: 3.9.2

Package: php5-openchange
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}, libmapi0
Description: MAPI extensions module for PHP5
 This extension allows you to work with libmapi in your php5 applications.
